.cartContainer {
  width: 50%;
  align-self: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  padding: 1rem;
  border: 2px solid #1D1A31;
  border-radius: 20px;
  background: #fff;
  gap: 2rem;

  .imgContainer {
    min-width: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      border-radius: 15px;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .productInfo {
    min-width: 300px;
    padding: 1rem 0;
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: .5rem;

    .title {
      font-size: 2rem;
      font-weight: 900;
    }

    .productAmount {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .btn {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #1D1A31;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: all .3s ease-in-out;

        &:hover {
          background: #551A8B;
          transform: scale(1.05);
        }
      }

      .quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: auto;
        background: #575757;
        color: #fff;
        padding: .5rem 2rem;
        border: 3px solid #1D1A31;
        border-radius: 10px;
      }
    }

    .price {
      font-size: 2.5rem;
      font-weight: 700;
      margin: 0;
    }

    .delBtn {
      font-size: 1rem;
      font-weight: 700;
      padding: .5rem;
      background: #1D1A31;
      color: #eee;
      border-radius: .5rem;
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 0px 0px 6px 2px rgba(103, 85, 191, 1);
        -moz-box-shadow: 0px 0px 6px 2px rgba(103, 85, 191, 1);
        box-shadow: 0px 0px 6px 2px rgba(103, 85, 191, 1);
        color: #8c76ec;
      }
    }
  }
}